@charset "UTF-8";

body {user-select: none; background-color: #f1f1f1}
div#app {height: 100%;}

.bold {font-weight: 600;}
button {border:none; background:none; padding: 5px 10px; background-color: #435057; border: 1px solid #637077; color: #f1f1f1; font-weight: 600;}